<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
  <test thread-count="5" name="Test">
    <classes>

      <class name="com.stockTests.ForexTest"/>
      <class name="com.stockTests.TestBase"/>
      <class name="stockwatch.com.App"/>
      <class name="stockwatch.com.AppTest"/>
      <class name="com.stockTests.UserRegistrationTest"/>
      <class name="Pages.LoginPage"/>
      <class name="com.stockTests.MetalsTest"/>
      <class name="com.stockTests.LoginTest"/>

      <class name="com.stockTests.NewsLetterTest"/>
      <class name="com.stockTests.MarketsDropdownMenuTest"/>
      <class name="com.stockTests.StockSectorsTest"/>
      <class name="com.stockTests.TestBase"/>
      <class name="stockwatch.com.AppTest"/>
      <class name="com.stockTests.ViewFullPortfolioTest"/>
      <class name="com.stockTests.UserRegistrationTest"/>
      <class name=".NewTest"/>
      <class name="com.stockTests.LoginTest"/>
      <class name="com.stockTests.SearchStockTest"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
